.pageContent {
  min-height: 100%;
  height: auto;
  margin: -50px auto 0;
  background-color: #d3d3d3;
  width: 890px;
}

.adSection {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 992px) {
  .pageContent {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .pageContent {
    width: 100%;
  }
}

:global .fade-enter {
  opacity: 0;
  z-index: 1;
}

:global .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

:global .fade-exit {
  opacity: 1;
  z-index: 0;
}

:global .fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out;
}
